/* @theme myac */

/* ref: https://github.com/kaisugi/marp-theme-academic*/
/* ref: https://github.com/watagashi0619/marp-theme-academic*/

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #800000;
}

section {
  background-image: none;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 28pt;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 700;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

ul ul {
  font-size: 0.9em;
}

section.lead h1 {
  color: #800000;
  text-align: left;
}
section.lead h1 strong {
  -webkit-text-stroke: 1px #800000;
}
section.lead h2 {
  color: #800000;
  text-align: left;
}
section.lead h2 strong {
  -webkit-text-stroke: 1px #800000;
}
section.lead h3 {
  color: #800000;
  text-align: left;
}
section.lead h3 strong {
  -webkit-text-stroke: 1px #800000;
}
section.lead h4 {
  color: #800000;
  text-align: left;
}
section.lead h4 strong {
  -webkit-text-stroke: 1px #800000;
}
section.lead h5 {
  color: #800000;
  text-align: left;
}
section.lead h5 strong {
  -webkit-text-stroke: 1px #800000;
}
section.lead p {
  text-align: right;
}

header {
  background-color: #800000;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

blockquote {
  max-width: 90%;
  border-top: 0.1em dashed #555;
  font-size: 60%;
  position: absolute;
  bottom: 20px;
}
blockquote::before {
  content: "";
}
blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  font-family: 'Source Code Pro', monospace;
}

strong {
  color: #bb0000;
}

.cbb {
  position: relative;
  padding: 1.5em 1em 1em 1em;
  margin: 1em 0.5em;
  background: #FFF;
  border: solid 3px #1436C4;
  border-radius: 10px;
  font-size: 1em;
}
.cbb .t {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 1em;
  background: #FFF;
  color: #1436C4;
  font-weight: bold;
}
.cbb p {
  margin: 0;
  padding: 0;
}

.cbg {
  position: relative;
  padding: 1.5em 1em 1em 1em;
  margin: 1em 0.5em;
  background: #FFF;
  border: solid 3px #00881e;
  border-radius: 10px;
  font-size: 1em;
}
.cbg .t {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 1em;
  background: #FFF;
  color: #00881e;
  font-weight: bold;
}
.cbg p {
  margin: 0;
  padding: 0;
}

.cbr {
  position: relative;
  padding: 1.5em 1em 1em 1em;
  margin: 1em 0.5em;
  background: #FFF;
  border: solid 3px #bb0000;
  border-radius: 10px;
  font-size: 1em;
}
.cbr .t {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 1em;
  background: #FFF;
  color: #bb0000;
  font-weight: bold;
}
.cbr p {
  margin: 0;
  padding: 0;
}

/* katex Japanese font */
.cjk_fallback {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 80%;
}

code {
  font-family: 'Source Code Pro', monospace;
}

